<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>418778353503-j7bsr8nrj6r2adb9nqsp4i4ajtno6bsn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.418778353503-j7bsr8nrj6r2adb9nqsp4i4ajtno6bsn</string>
	<key>API_KEY</key>
	<string>AIzaSyAqc4qW47Rn6iUbLWQw98DNMb7ZzDu4etM</string>
	<key>GCM_SENDER_ID</key>
	<string>418778353503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yhakamay.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-codelab-32edb</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-codelab-32edb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:418778353503:ios:10d6558407682ce9f370ea</string>
</dict>
</plist>